*{
    padding: 0;
    margin: 0;
}

#container {
    height: 100vh;
    background-color: whitesmoke;
    overflow: hidden;
}

#team_container {
    border: 2px solid red;
    width: 80%;
    height: 70vh;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
}

.our_team_bio {
    border: 2px solid green;
}

.our_team_bio > header {
    display: inline-block;
    position: relative;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    height: 40%;
    text-align: center;
}

.our_team_bio > header > img {
    width: 30%;
    height: 50%;
    border-radius: 90px;
    margin-bottom: 10px;
}

.our_team_bio > header > h1 {
    font-size: 3rem;
}

.our_team_bio > div:first-child {
    width: 30px;
    height: 60%;
}
