* {
    margin: 0;
    padding: 0;
}

#container > header {
    border-bottom: 1px solid black;
    height: 10vh;
}

#container > header > div:first-child {
    display: inline-block;
    width: 5%;
    height: 95%;
}

#container > header > div:first-child > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#grid-4-columns {
    display: grid;
    margin: 5rem auto;
    width: min(90% 75rem);
    grid-template-areas:
    'header header'
    'side main'
    'footer footer';
}
