* {
    padding: 0;
    margin: 0;
}

#container {
    background-image: url(../images/videogameposter.jpg);
    background-size: cover;
    height: 100vh;
}

#container > header {
    background-color: black;
    color: white;
    font-size: 1.5rem;
}

#container > header > div {
    display: inline-block;
}

#container > header > div:first-child {
    font-weight: bold;
}

#container > header > div:last-child {
    float: right;
}

#container > header > div:last-child > a {
    color: white;
    text-decoration: none;
    margin: 3rem;
}

#register_container {
    width: 80%;
    height: 87%;
    margin-top: 2%;
    margin-left: 10%;
    background-image: url(../images/game_controller_pic.jpg);
    background-size: contain;
}

#register_container > div {
    width: 50%;
    display: inline-block;
}

#register_container > div:first-child {
    height: 100%;
}

#register_container > div:first-child > header {
    background-color: #F9AB22;
    height: 35%;
}

#register_container > div:first-child > header > div {
    display: inline-block;
    height: 60%;
    width: 23%;
    margin-top: 5%;
    margin-left: 38%;
}

#register_container > div:first-child > header > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
} 

#register_container > div:first-child > header > h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
}

#register_container > div:first-child > div {
    background-color: #F9AB22;
    height: 65%;
}

#register_container > div:first-child > div > form > input {
    width: 80%;
    font-size: 2.0rem;
    margin: 1.2rem;
    margin-left: 10%;   
}

#register_container > div:first-child > div > form > input[type="text"],
#register_container > div:first-child > div > form > input[type="password"] {
    border: none;
    border-bottom: 2px solid black;
}

#register_container > div:first-child > div > form > input[type="submit"] {
    background-color: black;
    color: white;
    transition: transform .5s;
}

#register_container > div:first-child > div > form > input[type="submit"]:hover {
    transform: scale(1.1);
}

#register_container > div:first-child > div > form > label {
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 9.5%;
}

#register_container > div:first-child > div > form > select {
    font-size: 1.8rem;
}

#register_container > div:first-child > div > form > p {
    text-align: center;
}